<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>


<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <br>
    <h2>Daftar Seluruh Film</h2>
    <br>
    <div th:if="*{listFilm.size() != 0}" class="col">
        <table class="table table-bordered">
            <thead class="table-info">
            <tr>
                <th>No</th>
                <th>No Film</th>
                <th>Nama Film</th>
                <th>Deskripsi Film</th>
                <th>Sedang Tayang</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film, iterationStatus : ${listFilm}"
                th:style="${iterationStatus.even} ? 'font-weigth:bold;'">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${film.noFilm}"></td>
                <td th:text="${film.namaFilm}"></td>
                <td th:text="${film.deskripsiFilm}"></td>
                <td th:if="${film.isDisplaying} == true">YA</td>
                <td th:if="${film.isDisplaying} == false">TIDAK</td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/">Home</a>
    </div>
    <div th:unless="*{listFilm.size() != 0}">
        <h2 th:text="'Tidak ada Film'"></h2>
    </div>
</div>

</body>

</html>